.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {
  background-color: green;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.button:hover {
  background-color: rgb(7, 106, 192);
  transition: 0.3s;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

h1 {
  margin-top: 250px;
}